* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #beb4b4;
}

#game {
    position: relative;
    width: 400px;
    display: flex;
    align-items: flex-end;
}

#rules {
    position: absolute;
    top: 50px;
    right: -88%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rule-line .little-hole {
    display: inline-block;
}
.rule-line .little-hole span {
    display: block;
}

#mastermind {
    height: 740px;
    width: 350px;
    background-color: white;
    border-radius: 25px;
    outline: 2px solid rgb(25, 25, 25);
    box-shadow: inset 0 0 4px 2px rgb(50, 50, 50);
}

.line {
    margin: 20px 5px;
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#secret-line {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
}

hr {
    margin-bottom: 10px;
}

.hole {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(164, 161, 161);
    border-radius: 50%;
    color: #cec5c5;
    font-size: 30px;
    box-shadow: inset 0 0 1px 2px rgb(50, 50, 50);
    transition: .3s;
}
.checker {
    height: 40px;
    width: 40px;
    position: relative;
    left: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
}

.little-hole {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: grey;
}

.white-dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.red-dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d36363;
}

#undoButton {
    margin-top: 10px;
    position: relative;
    border-radius: 25%;
    background-color: white;
    padding: 10px 13px;
    border: none;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

#undoButton:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: '';
    width: 105%;
    height: 105%;
    border-radius: 25%;
    background-color: rgb(50, 50, 50);
    z-index: -1;
    transform: translate(-50px);
    transition: .3s;
}
#undoButton:hover {
    color: white;
}
#undoButton:hover:before {
    transform: translate(0);
}
#color-pallet {
    margin: 0 0 20px 15px;
    width: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.color {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
    box-shadow: -1px 1px 1px 1px rgb(50, 50, 50);
}
.cb {
    box-shadow: none;
}
.color:hover {
    transform: scale(0.95);
}
.cb:hover {
    outline: 1px solid white;
}
#color-red {background-color: #de3232;}
#color-blue {background-color: #5e5ef8;}
#color-purple {background-color: #bd47bd;}
#color-green {background-color: #32bb32;}
#color-black {background-color: rgb(20, 20, 20)}
#color-yellow {background-color: #cece42;}
.red {background-color: #de3232;}
.blue {background-color: #5e5ef8;}
.purple {background-color: #bd47bd;}
.green {background-color: #32bb32;}
.black {background-color: rgb(20, 20, 20);}
.yellow {background-color: #cece42;}

/* FINAL TEXT WIN/LOOSE */

h3 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.loose {
    color: red;
}
.win {
    color: green
}